@model Zoologico.Models.Rol

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}
<style>
    .form-group {
        margin-left: 70px;
    }

    .float {
        margin-left: 1000px;
    }

    .form-actions {
        margin-left: 70px;
        margin-top: 15px;
    }

    .t {
        margin-bottom: 50px;
        margin-top: -80px;
        margin-left: 55px;
    }
</style>

<img src="~/Library/Imagenes/warning.png" class="float" height="120" width="120">
<div class="alert alert-warning col-md-4 t">
    <strong>Peligro!</strong> Esta seguro que quiere eliminar esto
</div>
<div>
 
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>identificador</h5>
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre de Rol</h5>
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-dark" />
            @Html.ActionLink("Regresar", "Index", new { id = Model.id }, new { @class = "btn btn-outline-info" })
        </div>
    }
</div>
