@model IEnumerable<Zoologico.Models.Rol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}
<link href="~/Library/style/Workers.css" rel="stylesheet" />
<br />

<h2 class="text-center">Roles</h2>

<a href="@Url.Action("Create", "Rols")" class="btn btn-success mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Nuevo Rol </strong>
    </span>
</a>
<table class="table">

    <tr>
        <th></th>
        <th>
            <h5>Identificador</h5>
        </th>
        <th>
            <h5>Nombre del Rol</h5>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Detalle", "Details", new { id = item.id }, new { @class = "btn btn-success" })
            </td>
            <td>
            </td>
        </tr>
    }

</table>
