@model Zoologico.Models.Zoologicos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}


<style>

    .form-group {
        margin-left: 70px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <h2 class="text-center">Registrar Nuevo Zoologico</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-row">

            <div class="form-group col-md-5">
                <h5>Nit</h5>
                @Html.EditorFor(model => model.Nit_Zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nit_Zoologico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre</h5>
                @Html.EditorFor(model => model.Nombre_Zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Zoologico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Dirección</h5>
                @Html.EditorFor(model => model.Direccion_Zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion_Zoologico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Telefono</h5>
                @Html.EditorFor(model => model.Telefono_Zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono_Zoologico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Departamento</h5>
                @Html.EditorFor(model => model.Departamento_zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Departamento_zoologico, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Ciudad</h5>
                @Html.EditorFor(model => model.Ciudad_zoologico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ciudad_zoologico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-outline-dark" />
                <a href="@Url.Action("Index", "Zoologicos")" class="btn btn-outline-dark">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Regresar</strong>
                    </span>
                </a>
            </div>
        </div>

    </form>
}