@model IEnumerable<Zoologico.Models.Zoologicos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<style>

    .mao {
        margin-left: 30px;
        margin-bottom: 20px;
    }
</style>

<h2 class="text-center">Datos del Zoologico</h2>

<a href="@Url.Action("Create", "Zoologicos")" class="btn btn-outline-dark mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Registrar Datos Zoologico</strong>
    </span>
</a>
<table class="table">
    <tr>
        <th></th>
        <th>
            <h5>Nit</h5>
        </th>
        <th>
            <h5>Nombre</h5>
        </th>
        <th>
            <h5>Dirección</h5>
        </th>
        <th>
            <h5>Telefono</h5>
        </th>
        <th>
            <h5>Departamento</h5>
        </th>
        <th>
            <h5>Ciudad</h5>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Nit_Zoologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Zoologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_Zoologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Zoologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento_zoologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad_zoologico)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Nit_Zoologico }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Nit_Zoologico }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Detalle", "Details", new { id = item.Nit_Zoologico }, new { @class = "btn btn-outline-primary" })
            </td>
        </tr>
    }

</table>