@model IEnumerable<Zoologico.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cedula_Cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cedula_Cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cedula_Cliente })
        </td>
    </tr>
}

</table>
