@model Zoologico.Models.Tiquete

@{
    ViewBag.Title = "Delete2";
    Layout = "~/Views/Shared/_LayoutVistaVendedor.cshtml";
}

<link href="~/Library/style/Workers.css" rel="stylesheet" />
<br />
<img src="~/Library/Imagenes/warning.png" class="float" height="120" width="120">
<div class="alert alert-warning col-md-4 t">
    <strong>Peligro!</strong> Esta seguro que quiere eliminar esto
</div>
<div>
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Número de tiquete</h5>
                @Html.EditorFor(model => model.Numero_Tiquete, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Numero_Tiquete, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Hora de Ingreso</h5>
                @Html.EditorFor(model => model.Hora_Ingreso_Tiquete, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Hora_Ingreso_Tiquete, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Hora de Salida</h5>
                @Html.EditorFor(model => model.Hora_salida_Tiquete, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Hora_salida_Tiquete, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Valor hora Tiquete</h5>
                @Html.EditorFor(model => model.Valor_Hora_Tiquete, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Valor_Hora_Tiquete, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre Parqueadero</h5>
                @Html.EditorFor(model => model.Parqueadero.Nombre_Parqueadero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Id_Parqueadero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Tipo de Vehiculo</h5>
                @Html.EditorFor(model => model.Vehiculo.Tipo_Vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Vehiculo.Tipo_Vehiculo, "", new { @class = "text-danger" })
            </div>


        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index2", new { id = Model.Numero_Tiquete }, new { @class = "btn btn-success" })
        </div>
    }

</div>

