@model IEnumerable<Zoologico.Models.Tiquete>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<link href="~/Library/style/Workers.css" rel="stylesheet" />
<br />
<h2 class="text-center">Tiquetes Registrados</h2>

<a href="@Url.Action("Create", "Tiquetes")" class="btn btn-success mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Registrar Tiquete</strong>
    </span>
</a>
<table class="table">
    <tr>
      
        <th>
            <h5>Numero  tiquete</h5>
        </th>
        <th>
            <h5>Hora  Ingreso</h5>
        </th>
        <th>
            <h5>Hora  Salida</h5>
        </th>
        <th>
            <h5>Valor Tiquete </h5>
        </th>
        <th>
            <h5>Nombre Parqueadero</h5>
        </th>
        <th>
            <h5>Tipo Vehiculo</h5>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Tiquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Ingreso_Tiquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_salida_Tiquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_Hora_Tiquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parqueadero.Nombre_Parqueadero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Tipo_Vehiculo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Numero_Tiquete }, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Numero_Tiquete }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Detalle", "Details", new { id = item.Numero_Tiquete }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>