<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Library/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Library/style/NabColor.css" rel="stylesheet" />

    @RenderSection("Css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Clientes")">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Compras")">Compras</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Parqueaderoes")">Parqueadero</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Planes")">Planes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Tiquetes")">Tiquetes</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Index2", "Vehiculoes")">Vehiculos</a>
                </li>
            </ul>

        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <script src="~/Library/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Library/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Library/Bootstrap/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>