@model Zoologico.Models.Compra

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<style>

    .form-group {
        margin-left: 70px;
    }

    .float {
        margin-left: 1000px;
    }


    .form-actions {
        margin-left: 70px;
        margin-top: 15px;
    }

    .t {
        margin-bottom: 50px;
        margin-top: -80px;
        margin-left: 55px;
    }
</style>

<img src="~/Library/Imagenes/warning.png" class="float" height="120" width="120">
<div class="alert alert-warning col-md-4 t">
    <strong>Peligro!</strong> Esta seguro que quiere eliminar esto
</div>
<div>
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Nombre</h5>
                @Html.EditorFor(model => model.Fecha_Compra, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Fecha_Compra, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Apellido</h5>
                @Html.EditorFor(model => model.Cantidad_Compra, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Cantidad_Compra, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Dirección</h5>
                @Html.EditorFor(model => model.Valor_Compra, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Valor_Compra, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Telefono</h5>
                @Html.EditorFor(model => model.Cliente.Nombre_Cliente, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Cliente.Nombre_Cliente, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Edad</h5>
                @Html.EditorFor(model => model.Planes.Nombre_Plan, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Planes.Nombre_Plan, "", new { @class = "text-danger" })
            </div>


        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-dark" />
            @Html.ActionLink("Regresar", "Index", new { id = Model.Cedula_Cliente }, new { @class = "btn btn-outline-info" })
        </div>
    }

</div>
