@model Zoologico.Models.Compra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planes.Nombre_Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planes.Nombre_Plan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Numero_Compra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
