@model Zoologico.Models.Trabajadores

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

    <link href="~/Library/style/Workers.css" rel="stylesheet" />

<img src="~/Library/Imagenes/warning.png" class="float" height="120" width="120">
<div class="alert alert-warning col-md-4 t">
    <strong>Peligro!</strong> Esta seguro que quiere eliminar esto
</div>
<div>
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Id</h5>
                @Html.EditorFor(model => model.id_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.id_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre</h5>
                @Html.EditorFor(model => model.Nombre_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Nombre_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Apellido</h5>
                @Html.EditorFor(model => model.Apellido_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Apellido_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Dirección</h5>
                @Html.EditorFor(model => model.Direccion_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Direccion_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Telefono</h5>
                @Html.EditorFor(model => model.Telefono_Trabajador, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Telefono_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Edad</h5>
                @Html.EditorFor(model => model.Edad_Trabajador, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Edad_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Correo</h5>
                @Html.EditorFor(model => model.Correo_Trabajador, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Correo_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Password</h5>
                @Html.EditorFor(model => model.password_Trabajador, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.password_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Zona</h5>
                @Html.EditorFor(model => model.Zonas.Nombre_Zona, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.password_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Rol</h5>
                @Html.EditorFor(model => model.Rol.nombre, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.password_Trabajador, "", new { @class = "text-danger" })
            </div>

        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-dark" />
            @Html.ActionLink("Regresar", "Index", new { id = Model.id_Trabajador }, new { @class = "btn btn-outline-info" })
        </div>
    }

</div>