@model Zoologico.Models.Trabajadores

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}


<link href="~/Library/style/NabColor.css" rel="stylesheet" />
<link href="~/Library/style/Workers.css" rel="stylesheet" />

<img src="~/Library/Imagenes/hojaAnimales.jpg" width="100%" height="500px">

<div>
    <a align:center><img class="bd-placeholder-img rounded-circle pos" src="~/Library/Imagenes/tigre.jpg" width="140" height="140" alin></a>
</div>
<br />
<br />
<br />

<div>
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Cedula</h5>
                @Html.EditorFor(model => model.Cedula_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Cedula_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre</h5>
                @Html.EditorFor(model => model.Nombre_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Nombre_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Apellido</h5>
                @Html.EditorFor(model => model.Apellido_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Apellido_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Dirección</h5>
                @Html.EditorFor(model => model.Direccion_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Direccion_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Telefono</h5>
                @Html.EditorFor(model => model.Telefono_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Telefono_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Edad</h5>
                @Html.EditorFor(model => model.Edad_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Edad_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Correo</h5>
                @Html.EditorFor(model => model.Correo_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Correo_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Password</h5>
                @Html.EditorFor(model => model.password_Trabajador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.password_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Rol</h5>
                @Html.EditorFor(model => model.Rol.nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Rol.nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Zona</h5>
                @Html.EditorFor(model => model.Zonas.Nombre_Zona, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Zonas.Nombre_Zona, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a href="@Url.Action("Index", "Trabajadores")" class="btn btn-outline-dark">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Regresar</strong>
                    </span>
                </a>
                @Html.ActionLink("Editar", "Edit", new { id = Model.id_Trabajador }, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    </form>

</div>