@model Zoologico.Models.Trabajadores

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}
    <link href="~/Library/style/Workers.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <form>
        <h2 class="text-center">Modificar Trabajador</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_Trabajador)
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Cedula</h5>
                @Html.EditorFor(model => model.Cedula_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre</h5>
                @Html.EditorFor(model => model.Nombre_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Trabajador, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <h5>Apellido</h5>
                @Html.EditorFor(model => model.Apellido_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido_Trabajador, "", new { @class = "text-danger", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-5">
                <h5>Dirección</h5>
                @Html.EditorFor(model => model.Direccion_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Telefono</h5>
                @Html.EditorFor(model => model.Telefono_Trabajador, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Telefono_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Edad</h5>
                @Html.EditorFor(model => model.Edad_Trabajador, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Edad_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Correo</h5>
                @Html.EditorFor(model => model.Correo_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Password</h5>
                @Html.EditorFor(model => model.password_Trabajador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password_Trabajador, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Zona</h5>
                @Html.DropDownList("Id_Zona", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Zona, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Rol</h5>
                @Html.DropDownList("idRol_Trabajador", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idRol_Trabajador, "", new { @class = "text-danger" })
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-outline-dark" />
                <a href="@Url.Action("Index", "Trabajadores")" class="btn btn-success">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Regresar</strong>
                    </span>
                </a>
            </div>

        </div>

    </form>

}