@model IEnumerable<Zoologico.Models.Trabajadores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";

}

<style>

    .mao {
        margin-left: 30px;
        margin-bottom: 20px;
    }
</style>

<h2 class="text-center">Trabajadores Registrados</h2>

<a href="@Url.Action("Create", "Trabajadores")" class="btn btn-outline-dark mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Registrar Trabajadores</strong>
    </span>
</a>

<table class="table">
    <tr>
        <th>
            Cedula
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Telefono
        </th>
        <th>
            Rol
        </th>
        <th>
            Zona
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula_Trabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Trabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Trabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Trabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zonas.Nombre_Zona)
            </td>


            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_Trabajador }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_Trabajador }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Hoja de Vida", "Details", new { id = item.id_Trabajador }, new { @class = "btn btn-outline-primary" })
            </td>


        </tr>
    }

</table>