
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutVistaVendedor.cshtml";
}

<style>

    .mao {
        margin-left: 30px;
        margin-bottom: 20px;
    }
</style>
@model IEnumerable<Zoologico.Models.Planes>


<h2 class="text-center">Planes Registrados</h2>

<a href="@Url.Action("Create2", "Planes")" class="btn btn-outline-dark mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Registrar Plan</strong>
    </span>
</a>

<table class="table">
    <tr>
        <th></th>
        <th>
            Id Plan
        </th>
        <th>
            Nombre
        </th>
        <th>
            Precio
        </th>
        <th>
            Nombre Zoologico
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoologicos.Nombre_Zoologico)
            </td>



            <td>
                @Html.ActionLink("Editar", "Edit2", new { id = item.Id_Plan }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Eliminar", "Delete2", new { id = item.Id_Plan }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Detalle", "Details2", new { id = item.Id_Plan }, new { @class = "btn btn-outline-primary" })
            </td>


        </tr>
    }

</table>