@model IEnumerable<Zoologico.Models.Planes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zoologicos.Nombre_Zoologico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zoologicos.Nombre_Zoologico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Plan }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Plan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Plan })
        </td>
    </tr>
}

</table>
