@model Zoologico.Models.Vehiculo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<link href="~/Library/style/Workers.css" rel="stylesheet" />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h2 class="text-center">Registrar Vehiculo</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Numero de Placa</h5>
                @Html.EditorFor(model => model.Placa_Vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Placa_Vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Tipo Vehiculo</h5>
                @Html.EditorFor(model => model.Tipo_Vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo_Vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Marca</h5>
                @Html.EditorFor(model => model.Marca_vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marca_vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Estado</h5>
                @Html.EditorFor(model => model.Estado_Vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado_Vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Hora de Ingreso</h5>
                @Html.EditorFor(model => model.Hora_Ingreso_vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hora_Ingreso_vehiculo, "", new { @class = "text-danger" })
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-outline-dark" />
                <a href="@Url.Action("Index", "Vehiculoes")" class="btn btn-success">

                    <i class="icon-pencil icon-white"></i>

                    <span>
                        <strong>Regresar</strong>
                    </span>

                </a>
            </div>

        </div>
    </div>

}