@model Zoologico.Models.Vehiculo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTrabajadores.cshtml";
}

<style>


    .form-group {
        margin-left: 70px;
    }

    .float {
        margin-left: 1000px;
    }

    .form-actions {
        margin-left: 70px;
        margin-top: 15px;
    }

    .t {
        margin-bottom: 50px;
        margin-top: -80px;
        margin-left: 55px;
    }
</style>

<div>
    <h2 class="text-center">Informacion Del Vehiculo</h2>
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Placa</h5>
                @Html.EditorFor(model => model.Placa_Vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Placa_Vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Tipo Vehiculo</h5>
                @Html.EditorFor(model => model.Tipo_Vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Marca_vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Marca</h5>
                @Html.EditorFor(model => model.Marca_vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Marca_vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Estado</h5>
                @Html.EditorFor(model => model.Estado_Vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Estado_Vehiculo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Hora de Ingreso</h5>
                @Html.EditorFor(model => model.Hora_Ingreso_vehiculo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Hora_Ingreso_vehiculo, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a href="@Url.Action("Index", "Vehiculoes")" class="btn btn-outline-dark">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Regresar</strong>
                    </span>
                </a>
                @Html.ActionLink("Editar", "Edit", new { id = Model.Placa_Vehiculo }, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    </form>

</div>