@model Zoologico.Models.Parqueadero
@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_LayoutVistaVendedor.cshtml";
}
<style>


    .form-group {
        margin-left: 70px;
    }

    .float {
        margin-left: 1000px;
    }

    .form-actions {
        margin-left: 70px;
        margin-top: 15px;
    }

    .t {
        margin-bottom: 50px;
        margin-top: -80px;
        margin-left: 55px;
    }
</style>


<div>
    <h2 class="text-center">Información Del Parqueadero</h2>
    <hr />
    <form class="label">
        <div class="form-row">
            <div class="form-group col-md-5">
                <h5>Id Parqueadero</h5>
                @Html.EditorFor(model => model.Id_Parqueadero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Id_Parqueadero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre Parqueadero</h5>
                @Html.EditorFor(model => model.Nombre_Parqueadero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Nombre_Parqueadero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-5">
                <h5>Nombre Zoologico</h5>
                @Html.EditorFor(model => model.Zoologicos.Nombre_Zoologico, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Zoologicos.Nombre_Zoologico, "", new { @class = "text-danger" })
            </div>


        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a href="@Url.Action("Index2", "Parqueaderoes")" class="btn btn-outline-dark">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Regresar</strong>
                    </span>
                </a>
                @Html.ActionLink("Editar", "Edit2", new { id = Model.Id_Parqueadero }, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    </form>

</div>
