@model IEnumerable<Zoologico.Models.Parqueadero>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutVistaVendedor.cshtml";
}
<link href="~/Library/style/Workers.css" rel="stylesheet" />

<h2 class="text-center">Parqueaderos Existentes</h2>

<a href="@Url.Action("Create2", "Parqueaderoes")" class="btn btn-outline-dark mao">
    <i class="icon-pencil icon-white"></i>
    <span>
        <strong>Registrar Parqueadero</strong>
    </span>
</a>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Id Parqueadero
        </th>
        <th>
            Nombre Parqueadero
        </th>
        <th></th>
        <th>
            Nombre Zoologico
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Parqueadero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Parqueadero)
            </td>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoologicos.Nombre_Zoologico)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit2", new { id = item.Id_Parqueadero }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Eliminar", "Delete2", new { id = item.Id_Parqueadero }, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Detalle", "Details2", new { id = item.Id_Parqueadero }, new { @class = "btn btn-outline-primary" })
            </td>


        </tr>
    }

</table>

